  <% if @user %>
  <a href=/users/<%= @user.id %>/bookings type='submit' name='book'>Your Bookings</a>
  <% end %>
<form action='/spaces'>
  <label for='date-of-stay'>Date</label>
  <input id='date-of-stay' type='date' name='date' value=<%= @date %>>
  <button type='submit' value='Submit'>Submit</button>
</form>
<% if @spaces %>
  <% @spaces.each do |space| %>
    <div>
      <h3> <%= space.name %> </h3>
      <p> <%= space.description %> </p>
      <p> <%= space.price %> </p>
      <form action='/spaces/<%= space.id %>/bookings' method='post'>
        <button type='submit' name='book'>Book</button>
      </form>
    </div>

  <%end%>
<% end %>
